$main-color: #333333;;
$second-color: #ffffff;
$thrid-color: #6071e0;
$first-win: #ffd900;
$second-win: #c0c0c0;
$thrid-win: #cd7f32;
$form-style-color: blue;
$form-background: #cacaca;

$container-size: 1280px;
$title-size: var(--title-size);
